/* Body background and text transitions */
body {
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  
  body.dark {
    background-color: #000; /* Dark theme background */
    color: #fff;            /* Dark theme text color */
  }
  
  body.light {
    background-color: #f5f5f5; /* Light theme background */
    color: #000;               /* Light theme text color */
  }
  